@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }
}

@media (orientation: landscape) {
  video {
        height: 80vh;
    }
}

@media (orientation: portrait) {
  video {
        width: 100%;
        max-width: 750px;
    }
}

body {
    font-size: 12px;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}